.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-size: cover;
  background-position: center;
}

.left {
  width: 50%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0 20px 20px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  color: white;
}

.right h1,
.right h2,
.line {
  transition: all 0.4s ease;
}

.right:hover h1 {
  transform: translateY(-8px) scale(1.05);
}

.right:hover h2 {
  transform: translateY(-5px) scale(1.05);
}

.right:hover .line {
  transform: translateX(6px) scaleX(1.4);
}

.text h1 {
  margin: 25px;
  font-size: 48px;
  font-weight: bold;
}

.text h2 {
  font-size: 48px;
  font-weight: bold;
}

.line {
  width: 80px;
  height: 7px;
  background: white;
  margin: 30px auto 0;
  border-radius: 10px;
}

.title {
  font-size: 36px;
  margin-bottom: 70px;
}

.inputBox {
  width: 60%;
  height: 55px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  padding: 0 15px;
}

.inputBox input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.inputBox img {
  width: 25px;
  cursor: pointer;
}

.button {
  font-size: 15px;
  width: 60%;
  height: 55px;
  background: red;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  transform: translateY(-3px) scale(1.03);
}

.button:active {
  transform: scale(0.97);
}

.loginText {
  margin-top: 20px;
  font-weight: bold;
}

.loginText span {
  color: red;
  cursor: pointer;
}

