.card {
  width: 100%;
  background: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  padding: 8px;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.imageBox {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 10px;
}

.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.content {
  margin-top: 10px;
}

.status {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
}

.pending {
  background: orange;
  color: white;
}

.success {
  background: green;
  color: white;
}

.repairing {
  background: blue;
  color: white;
}

